h1{
    color:rgb(120, 0, 240);
}
h2{
    color: red; 
    font-size: 50px;
    text-align: center;
}

/*esté é um comentário*/
/*  Este
    Também
    É
    Um
    Comentário*/

/*Classes e IDs*/
.p-texto{
    color: aquamarine;
}
#texto-h3{
    font-size: 35px;
}

.mais-especifico{
    color: brown;
}
#muito-mais-especifico{
    color: blue;
}
div p{
    color: green;
}

/* Cores */
.nome{
    color: orange;
}

.hexa{
    color: #ffa500;
}

.rgba{
    color: rgba(255, 165, 0, 1);
}

/* Backgrounds */

.div-background{
    background-image: url(img/praia.jpg);
    height: 300px;
}

#titulo-background{
    text-align: center;
    color:#fff;
    background-color:#000;
}

/* Fontes */

.familia{
    color: #000;
}

.serif{
    font-family: 'Times New Roman', Times, serif;
}

.sans-serif{
    font-family: Arial, Helvetica, sans-serif;
}

.monospace{
    font-family: 'Courier New', Courier, monospace;
}

.italic{
    font-style: italic;
}

.oblique{
    font-style: oblique;
}

.bold{
    font-weight: bold;
}

.bolder{
    font-weight: bolder;
}

.lighter{
    font-weight: lighter;
}

.variants{
    font-variant: small-caps;
}

/* Box model */

body{
    margin:0;
}

.box{
    width: 200px;
    height: 200px;
    background-color: rgba(255, 0, 0, 1);
    padding: 20px 30px 20px 30px;
}

.p-box{
    color:#000;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}