h1{
    color:rgb(120, 0, 240)
}
h2{
    color: red; 
    font-size: 50px;
    text-align: center;
}

/*esté é um comentário*/
/*  Este
    Também
    É
    Um
    Comentário*/

/*Classes e IDs*/
.p-texto{
    color: aquamarine;
}
#texto-h3{
    font-size: 35px;
}