h1{
    color:rgb(120, 0, 240);
}
h2{
    color: red; 
    font-size: 50px;
    text-align: center;
}

/*esté é um comentário*/
/*  Este
    Também
    É
    Um
    Comentário*/

/*Classes e IDs*/
.p-texto{
    color: aquamarine;
}
#texto-h3{
    font-size: 35px;
}

.mais-especifico{
    color: brown;
}
#muito-mais-especifico{
    color: blue;
}
div p{
    color: green;
}

/* Cores */
.nome{
    color: orange;
}

.hexa{
    color: #ffa500;
}

.rgba{
    color: rgba(255, 165, 0, 1);
}

/* Backgrounds */

.div-background{
    background-image: url(img/praia.jpg);
    height: 300px;
}

#titulo-background{
    text-align: center;
    color:#fff;
    background-color:#000;
}

/* Fontes */

.familia{
    color: #000;
}

.serif{
    font-family: 'Times New Roman', Times, serif;
}

.sans-serif{
    font-family: Arial, Helvetica, sans-serif;
}

.monospace{
    font-family: 'Courier New', Courier, monospace;
}

.italic{
    font-style: italic;
}

.oblique{
    font-style: oblique;
}

.bold{
    font-weight: bold;
}

.bolder{
    font-weight: bolder;
}

.lighter{
    font-weight: lighter;
}

.variants{
    font-variant: small-caps;
}

/* Box model */

body{
    margin:0;
}

.box{
    width: 200px;
    height: 200px;
    background-color: rgba(255, 0, 0, 1);
    	/* geral */
	/*padding: 20px;*/
	/* especifico */
	/*	
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 5px;
	*/
	/* especifico agrupado */
	/* padding: 30px 20px 5px 10px; */
	/* especifico agrupado 3 medidas - top, right-left, bottom */
	/* padding: 30px 20px 5px; */
	/* especifico agrupado 2 medidas - top -bottom, right - left */
	padding: 30px 20px;
    border-width: 50px 40px ;
    border: 3px solid #000;
    border-radius: 10px;
    /*border left: 50px dotted black
    border right style: doubled*/
    margin: 25px;
    /* propriedade display */
    /* display: none; */
    display: inline-block;
    /* display-inline sozinho não funciona em divs, pois ele não respeita largura nem altura, por isso é preciso usar inline-block */
    /* por padrão as divs são colocadas em display: block (um em baixo do outro) */

}

.p-box{
    color:#000;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

/* Positions */

.div-positions{
    padding: 30px 20px;
    height: 500px;
    width: 500px;
    background-color: purple;
    padding: 40px 30px;
    border: 7px solid #000;
    border-radius: 15px;
    margin: 40px;
}

.static{
    position: static;
}

.relative{
    position: relative;
    background-color: green;
    top: 60px;
    left: 80px;
}

.absolute{
    background-color: red ;
    position: absolute;
    top: 0px;
    right: 0px;
}

.mini-div{
    height: 50px;
    width: 50px;
    bottom: 0px;
    right: 0px;
    background-color: #000;
    position: absolute;

}

.fixed{
    position: fixed;
    height: 200px;
    width: 200px;
    bottom: 0px;
    right: 0px;
    background-color: yellow;
}

.sticky{
    position: sticky;
    background-color: aquamarine;
    top: 0px;
}

/* Float */

.container{
    padding: 50px;
}

.img-float{
    margin: 10px;
    position: relative;
    height: 300px;
    width: 300px;
    float: left;
}

.div-float{
    overflow: auto;
}

.float-right{
    float: right;
}

.p-float{
    color: #000;
}

.clear{
    clear: both;
}

/* Unidades de medida */

.pixel-1{
    height: 100px;
    width: 100px;
    background-color: red;
}

.pixel-2{
    height: 50px;
    width: 500px;
    background-color: blue;
}

.texto-units{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.pai-percent{
    height: 500px;
    width: 500px;
    background-color: #000;
}

.percent-1{
    height: 50%;
    width: 50%;
    background-color: #ffa500;
}

.percent-2{
    height: 50%;
    width: 50%;
    background-color: aquamarine;
}